{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Logo (accueil)</a></li>
        </ul>
        <ul>
            {% if viewModel.username %}
                <li>Welcome {{ viewModel.username }}</li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="{{ path('app_register') }}">Créer un compte</a></li>
            {% endif %}
        </ul>
    </nav>

    <h1>Bienvenue sur le site E-commerce</h1>

    <h2>Panier</h2>

    <div>
        <p>Nombre de produits : {{ viewModel.cartProductsCount }}</p>
    </div>

    <h2>Menu des catégories</h2>
    <nav>
        <ul>
            {% for menuCategory in viewModel.menuCategories %}
                <li><a href=""><input type="text" disabled value="{{ menuCategory.name }}" /></a></li>
            {% endfor %}
            <details class="dropdown">
                <summary>Accessoires</summary>
                <ul>
                    <li><a href="#">Vêtements</a></li>
                    <li><a href="#">Sacs</a></li>
                    <li><a href="#">Bijoux</a></li>
                    <li><a href="#">Parapluies</a></li>
                </ul>
            </details>
        </ul>
    </nav>
{% endblock %}
