{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Logo (accueil)</a></li>
        </ul>
        <ul class="nav_connection">
            {% if viewModel.username %}
                <li>Welcome {{ viewModel.username }}</li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}" up-layer="new">Connexion</a></li>
                <li><a href="{{ path('app_register') }}" up-layer="new">Créer un compte</a></li>
            {% endif %}
        </ul>
    </nav>

    <h1>Bienvenue sur le site E-commerce</h1>

    <h2>Panier</h2>

    <div>
        <p>Nombre de produits : {{ viewModel.cartProductsCount }}</p>
    </div>

    <h2>Menu des catégories</h2>
    <nav>
        <ul>
            {% for menuCategory in viewModel.menuCategories %}
                <li>
                    <details class="dropdown">
                    <summary>{{ menuCategory.name }}</summary>
                    <ul>
                        {% for menuSubCategory in menuCategory.subCategories %}
                            <li><a>{{ menuSubCategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
