{% extends 'admin/catalog/_breadcrumb.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un produit{% endblock %}
{% block breadcrumb %}{{ parent() }} Produits &gt; Nouveau produit{% endblock %}

{% block header %}<h1>Ajouter un produit</h1>{% endblock %}
{% block body_title %}Ajouter un produit{% endblock %}

{% block body %}
    {% include "admin/catalog/products/_form.html.twig" %}
{% endblock %}

{% block stylesheets %}
     {# Link interne - CSS - Nice select 2 #}
    <link rel="stylesheet" href="{{ asset('assets/admin/css/nice-select2.css') }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}
   {# Link externe - nice select 2 (partie JS) #}
    <script src="{{ asset('assets/admin/js/utils/nice-select2.js') }}" defer></script>
    {# Link spécifique pour le select du form #}
    <script src="{{ asset('assets/admin/js/utils/select2-use.js') }}" defer></script>
    {# Link spécifique à la création des checkbox slide #}
    <script src="{{ asset('assets/admin/js/api/updateAction.js') }}" defer></script>
    <script src="{{ asset('assets/admin/js/components/checkboxToSwitchBtn.js') }}" defer></script>
{% endblock %}