{% extends 'admin/catalog/_breadcrumb.html.twig' %}

{% block title %}{{ parent() }} - Modifier une catégorie{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('admin_categories_index') }}">Catégories</a> &gt;
    Modifier une catégorie
{% endblock %}

{% block header %}<h1>Modifier une catégorie</h1>{% endblock %}
{% block body_title %}Modification de la catégorie n°{{ category.id }}{% endblock %}

{% block body %}
    {% include "admin/catalog/categories/_form.html.twig" with {button_label: "Modifier"} %}
{% endblock %}

{% block stylesheets %}
     {# Link interne - CSS - Nice select 2 #}
    <link rel="stylesheet" href="{{ asset('assets/admin/css/nice-select2.css') }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {# Link externe - nice select 2 (partie JS) #}
    <script src="{{ asset('assets/admin/js/utils/nice-select2.js') }}" defer></script>
    {# Link spécifique pour le select du form #}
    <script src="{{ asset('assets/admin/js/utils/select2-use.js') }}" defer></script>
    {# Link spécifique à la création des checkbox slide #}
    <script src="{{ asset('assets/admin/js/api/updateAction.js') }}" defer></script>
    <script src="{{ asset('assets/admin/js/components/checkboxToSwitchBtn.js') }}" defer></script>
    {# Link spécifique pour la suppression des images #}
    <script src="{{ asset('assets/admin/js/components/useDeleteBtn.js')}}" defer></script>
{% endblock %}

