{% extends 'admin/catalog/_breadcrumb.html.twig' %}

{% block title %}{{ parent() }} - Liste des catégories{% endblock %}
{% block breadcrumb %}
    {{ parent() }} 
    <a href="{{ path('admin_categories_index') }}" class="">Catégories (niveau 1)</a>
    {% if categories.breadcrumbs is defined %}
        {# parcours et affichage de tous les liens #}
        {% for breadcrumb in categories.breadcrumbs %}
            > <a href="{{ path('admin_categories_sub_index', {id: breadcrumb.id}) }}" class="">{{ breadcrumb.name }} ({{ loop.index + 1 }})</a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}<h1>Liste des catégories</h1>{% endblock %}
{% block body_title %}Liste des catégories ({{ categories.total  }}){% endblock %}

{% block body %}
    <div class="relative">
        <button class="btn btn-bulk-action">
            Actions groupées
            <i class="material-icons">expand_more</i>
        </button>
        <div class="dropdown bulk-dropdown">
            <a 
                href="#" 
                class="btn btn-delete"
                {# action à déclencher (dans le back) #}
                data-href="" 
                data-action="PUT" 
                data-token=""
            >
                <i class="material-icons">delete</i> 
                Supprimer la sélection
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Ordre</th>
                <th>Déplacer</th>
                <th>En ligne</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories.data %}
                <tr data-id="{{ category.id }}">
                    <td>
                        <div class="checkbox-js">
                            <div class="bulk"></div>
                        </div>
                    </td>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td class="order">{{ category.order }}</td>
                    <td class="btn-positions">
                        <a 
                            href="#" 
                            class="up {% if loop.first %}btn--hidden{% endif %}"
                            {# action à déclencher (dans le back) #}
                            data-href="{{ path('admin_categories_change_position', {id: category.id, position: 'up'}) }}" 
                            data-action="PUT" 
                            data-token="{{ csrf_token('changePosition' ~ category.id) }}"
                        >
                            <i class="material-icons">expand_less</i>
                        </a>
                        <a 
                            href="#" 
                            class="down {% if loop.last %}btn--hidden{% endif %}"
                            {# action à déclencher (dans le back) #}
                            data-href="{{ path('admin_categories_change_position', {id: category.id, position: 'down'}) }}" 
                            data-action="PUT" 
                            data-token="{{ csrf_token('changePosition' ~ category.id) }}"
                        >
                            <i class="material-icons">expand_more</i>
                        </a>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                role="switch" 
                                id="switch{{ category.id }}" 
                                {{ category.active ? "checked" : "" }}
                                disabled
                                {# action à déclencher (dans le back) #}
                                data-href="{{ path('admin_categories_edit_is_published', {id: category.id}) }}" 
                                data-action="PUT" 
                                data-token="{{ csrf_token('editPublished' ~ category.id) }}"
                            >
                            <label class="form-check-label" for="switch{{ category.id }}"></label>
                        </div>
                    </td>
                    <td>
                        {% if category.subCategories|length %}
                            <a href="{{ path('admin_categories_sub_index', {id: category.id }) }}" class="btn btn-success">
                                <i class="material-icons">zoom_in</i>
                            </a>
                        {% endif %}
                        <a href="{{ path('admin_categories_edit', {id: category.id }) }}" class="btn btn-success">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% set path = 'admin_categories_index' %}
    {% set pages = categories.pages %}
    {% set currentPage = categories.page %}
    {% include "admin/_partials/_admin_pagination.html.twig" %}
    <script>
        const disabledLinks = document.querySelectorAll('.pagination .page-item.disabled');
        for(const link of disabledLinks) {
            link.addEventListener('click', (e) => { e.preventDefault(); })
        }
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {# Link spécifique à la création des checkbox slide #}
    <script src="{{ asset('assets/admin/js/api/updateAction.js') }}" defer></script>
    <script src="{{ asset('assets/admin/js/components/checkboxToSwitchBtn.js') }}" defer></script>

    {# Link spécifique à l'action sur les bulk checkbox (checkbox à sélection multiple) #}
    <script src="{{ asset('assets/admin/js/components/actionGroupBtn.js') }}" defer></script>
    
    {# Link spécifique pour les boutons de changement de position #}
    <script src="{{ asset('assets/admin/js/components/categoryPositionBtn.js') }}" defer></script>
{% endblock %}
